*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

body{
    background-color:white;
    height: 120vh;
}

.backcolor{
    height: 100vh;
}

h1{
    font-size: clamp(50px, 10vh, 150px);
    font-weight: 100;
    text-wrap: nowrap;
    display: flex;
    position: relative;
}

h2{
    font-size: clamp(10px, 5vh, 20px);
    font-weight: 100;
    margin-left: 20px;
    padding-top: 30px;
    display: flex;
    position: relative;
}

.titles{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 100;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.titles-exercises{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 100;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.category{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 100px;
    font-weight: 100;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.category-exercises{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 100px;
    font-weight: 100;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: rgb(58, 58, 58);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: rgb(44, 39, 45);
}

.titles:hover{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 70px;
    font-weight: 700;
    z-index: 2;
}

.titles-exercises:hover{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 700;
    z-index: 2;
}


.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(40, 40, 40);
    padding-left: 50px;
    font-family: "mundial", sans-serif;
    font-style: normal;
}

.projects{
    padding-top: 2%;
    margin-left: 3%;
}

.mini-section{
    margin-top: 3%;
}

img{
    position: absolute;
    width: 100vh;
    height: 100vh;
    top: 10%;
    right: 7%;
    z-index: -1;

    
}

@media (max-width: 800px) {
    h1{
        font-size: clamp(40px, 3vh, 70px);
        font-weight: 100;
        text-wrap: nowrap;
        display: flex;
        position: relative;
    }
    
    h2{
        font-size: clamp(10px, 5vh, 20px);
        font-weight: 100;
        margin-left: 20px;
        padding-top: 30px;
        display: flex;
        position: relative;
    }

    .projects{
        padding-top: 2%;
        margin-left: 3%;
        text-align: center;
    }

    .category{
        font-size: 50px;
    }
    
    .category-exercises{
        font-size: 50px;
    }

    .titles:hover{
        font-size: 60px;
    }

    .titles-exercises:hover{
        font-size: 45px;
    }

    .titles{
        font-size: 50px;   
    }
    
    .titles-exercises{ 
        font-size: 25px;
    }

    img{
        position: relative;
        left: 10px;
        width: 50%;
        height: auto; 
        margin: 0 auto; 
        display: block; 
        z-index: -1;
    }
    
}


