*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
}

h1{
    font-size: 100px;
    font-weight: 100;
}

h2{
    font-size: 20px;
    font-weight: 100;
    margin-left: 20px;
    padding-top: 30px;
}

.titles{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 100;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: rgb(44, 39, 45);
}

.titles:hover{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 70px;
    font-weight: 700;
    z-index: 2;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(40, 40, 40);
    padding-left: 50px;
    font-family: "mundial", sans-serif;
    font-style: normal;
}

.projects{
    padding-top: 10%;
    margin-left: 3%;
}

