*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
}

h1{
    font-size: 100px;
    font-weight: 100;
}

h2{
    font-size: 20px;
    font-weight: 100;
    margin-left: 20px;
    padding-top: 30px;
}

.covertext{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 100;
}

.covertext:hover{
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    color: white;
    z-index: 2;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(40, 40, 40);
    padding-left: 50px;
    font-family: "mundial", sans-serif;
    font-style: normal;
}


section{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}
.backcolor{
    background-color: rgb(255, 255, 255);
}

.babel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: rgb(208, 255, 146);
    left: 5%;
    top: 10%;
    border-radius: 200px;
    opacity: 1; 
    transition: 0.3s ease-in-out ;
    z-index: 1;
    
}

.babel:hover{
    background-color: black;
}

