*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: mundial, sans-serif;
    font-weight: 100;
    font-style: normal;
   
    
   
}
body{
    background: white;
    height: auto;
}

h1{
    font-weight: 200;
    font-size: 50px;
    line-height: 160%; /* 80.808px */
    letter-spacing: 136.32px;
    transition: 1s ease-in-out;
}

.header{
    margin-top: 5%;
    margin-left: 5%;
    max-width: 80%;
    
}

.container{
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    justify-content: flex-end;
    bottom: 10%;
    right: 5%;
    transition: 1s ease-in-out;
   
}

h2{
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 5%;
    transition: 1s ease-in-out;
}

.Eggwhat{
   
    width: 350px;
    margin-bottom: 0px;
    margin-right: 10vh;
    transition: 1s ease-in-out;
}

.Eggwhy{
    width: 350px;
    transition: 1s ease-in-out;
}

.egg{
    position: absolute;
    top: 52%;
    left: 40%;
    width: 20vh;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}


.egg:hover .front {
    opacity: 0; 
}

.egg:hover .back {
    opacity: 1; 
}

.egg .front{
    position: absolute;
    top: 0;
    left: 0;
}

.egg .back {
    position: absolute;
    top: -20px;
    left: 0;
}
   

.egg .back {
    opacity: 0; 
}

@media (max-width: 900px) {
    h1{
        font-size: 20px;
        width: auto; 
        letter-spacing: 50.32px;
        max-width: 100%;
    }

    .egg{
        top: 35%;
        left: 50%;
    }

    .container{
        display: flex;
        flex-direction: row;
        position: absolute;
        flex-wrap: wrap;
        justify-content: center;
        top: 60%;

    }

    .Eggwhat{
   
        width: 300px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .Eggwhy{
        width: 300px;
    }
    
    html{
        font-size: 12px;
    }


}