*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html{
    font-size: 16px;
    font-family: mundial, sans-serif;
    font-weight: 100;
    font-style: normal;
   
     
}
body{
    background-color: white;
    height: auto;
    transition: 1s ease-in-out;
}

h1{
    font-weight: 200;
    font-size: 50px;
    line-height: 160%; /* 80.808px */
    letter-spacing: 136.32px;
    transition: 1s ease-in-out;
}

.header{
    margin-top: 3%;
    margin-left: 5%;
    max-width: 80%;
    
}

.container{
    margin-top: 3%;
    width: 100vh;
    z-index: 2;
}

a{
    text-decoration: none;
    color: #000000;
    transition: .01s ease-in-out;
}

a:hover{
  text-decoration: none;
  color: #e10000;
}


.cursor{
    position: fixed;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    transition: transform .1s ease;
    pointer-events: none;
    z-index: 3;
  }

  #partfour{
    fill: rgb(255, 0, 0);
  }


  #partone:hover{
    fill: #A351D9;
    transition: transform .1s ease;
  }
  #parttwo:hover{
    fill: #1eb528;
    transition: transform .1s ease;
  }
  #parttop:hover{
    fill: rgb(111, 73, 19);
    transition: transform .1s ease;
  }
  #partthree:hover{
    fill: #6f00ff;
    transition: transform .1s ease;
  }
  #partfour:hover{
    fill: #933918;
    transition: transform .1s ease;
  }
  #partfive:hover{
    fill: #ff8e15;
    transition: transform .1s ease;
  }
  #partsix:hover{
    fill: #2025a4;
    transition: transform .1s ease;
  }
  #partseven:hover{
    fill: #d6c800;
    transition: transform .1s ease;
  }
  
  #partnine:hover{
    fill: #2d48de;
    transition: transform .1s ease;
  }
  #partten:hover{
    fill: #f63c20;
    transition: transform .1s ease;
  }
  #parteleven:hover{
    fill: #432c0e;
    transition: transform .1s ease;
  }

  .my-color{
    position: absolute;
  }


  @media (max-width: 900px) {
    h1{
        font-size: 20px;
        width: auto; 
        letter-spacing: 50.32px;
        max-width: 100%;
    }

    
    html{
        font-size: 12px;
    }

    body{
        background: rgb(255, 0, 0);
        height: 150vh;
    }

    a:hover{
      text-decoration: none;
      color: #ffffff;
    }

    .cursor{
        position: fixed;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background: #000000;
        transition: transform .1s ease;
        pointer-events: none;
        z-index: -1;
      }
    
      #partone{
        stroke: rgb(255, 0, 0);
      }
      #parttwo{
        stroke: rgb(255, 0, 0);
      }
      #partthree{
        stroke: rgb(255, 0, 0);
      }
      #partfour{
        stroke: rgb(255, 0, 0) ;
      }
      #partfive{
        stroke: rgb(255, 0, 0) ;
      }
      #partsix{
        stroke: rgb(255, 0, 0) ;
      }
      #partseven{
        stroke: rgb(255, 0, 0) ;
      }
      #partstroke{
        stroke: rgb(255, 0, 0) ;
      }
      
      #partnine{
        stroke: rgb(255, 0, 0) ;
      }
      #partten{
        stroke: rgb(255, 0, 0) ;
      }
      #parteleven{
        stroke: rgb(255, 0, 0) ;
      }

}

  