body{
background-color: rgb(11, 8, 40); 
color: aliceblue;
font-family: "lulo-one", sans-serif;
font-size: 20px;
font-weight: 400;
font-style: normal;
transition: .5s ease-in-out .5s;
}

.head{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    }

h2{
    font-family: lulo-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.thump{
    width: 90%;
    position: relative;
    transform: translate(-50%,-50%);
    bottom: 200%;
    top: 50%;
    left: 50%;
    text-align: center;
    
}

.thump span{
    display: inline-block;
    font-family: lulo-one, sans-serif;
    font-size: 250px;
    font-weight: 700;
    font-style: normal;
    color: rgb(35, 35, 255);
    position: relative;
    transform: translateY(-500px);
    animation: fall .5s forwards;
    transition: .5s ease-in-out .5s;

}

@keyframes fall{
    100%{
        transform: translateY(0);
    }
}

.thump span:nth-child(2) {
    animation-delay: 0.07s;
}
.thump span:nth-child(3) {
    animation-delay: .14s;
}
.thump span:nth-child(4) {
    animation-delay: .21s;
}
.thump span:nth-child(5) {
    animation-delay: .28s;
}


.thump span:hover{
    color: rgb(255, 255, 255);
    transition: all 0.2s linear;
}

pre{
    color: rgb(103, 150, 192);
    font-family: verdana;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    transition: .5s ease-in-out .5s;
  
}

pre span{
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    transition: .5s ease-in-out .5s;

}

pre span:hover{
    color: rgb(247, 255, 10);
    font-family: verdana;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;

}

.woah{
    color: rgb(255, 255, 241);
    font-family:"lulo-one", sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    transform: rotate(0deg);
    transition: 1.5s;
    text-align: center;

}

.woah:hover{
    color: rgb(255, 157, 0);
    font-family:"lulo-one", sans-serif;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    transform: rotate(360deg);
}

img{
    margin: 20px;
    width: 30%;
    height: 30%;
    margin-left: 200px;
    transform: rotate(0deg);
    transition: 1.5s;
    border-radius: 50%;
}

img:hover{
    width: 30%;
    height: 30%;
    transform: rotate(360deg);
    box-shadow: 0 0 10px #6DAEDB inset;
    -webkit-animation: glownote 3s ease-in-out infinite alternate;
    -moz-animation: glownote 3s ease-in-out infinite alternate;
    animation: glownote 3s ease-in-out infinite alternate;
  
}

::selection { 
    background: rgb(237, 255, 120);
    color: rgb(0, 51, 255);

}
  
  @keyframes glownote {
    from {
      box-shadow: 0 0 10px #ffc493, 0 0 20px #6DAEDB, 0 0 30px #b486ff, 0 0 40px;
    }
    to {
        box-shadow: 0 0 20px #2892D7, 0 0 30px #eeff2d, 0 0 40px #8572ff, 0 0 ;
    }
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navhead{
    position: absolute;
    font-family: monospace;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar a {
 font-size: 18px;
 position: relative;
 color: rgb(255, 255, 255);
 text-decoration: none;
 margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: .3s;
   }

   .navbar a:hover::before {
    width: 100%;
   }

   @media (max-width: 850px) {
    
    .thump span{
        display: inline-block;
        font-family: lulo-one, sans-serif;
        font-size: 70px;
        font-weight: 700;
        font-style: normal;
        color: rgb(241, 255, 90);
        position: relative;
        transform: translateY(-500px);
        animation: fall .5s forwards;
    
    }
    .head{
    
        color: aliceblue;
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        }
    
    h2{
        font-family: lulo-outline, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    pre{
        color: rgb(103, 150, 192);
        font-family: verdana;
        font-size: 10px;
        font-weight: 400;
        font-style: normal;
      
    }
    
    pre span{
        color: rgb(255, 255, 255);
        font-family: verdana;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
    
    }
    
    pre span:hover{
        color: rgb(247, 255, 10);
        font-family: verdana;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
    
    }
    
    .woah{
        color: rgb(255, 255, 241);
        font-family:"lulo-one", sans-serif;
        font-size: 25px;
        font-weight: 700;
        font-style: normal;
        transform: rotate(0deg);
        transition: 1.5s;
        text-align: center;
    
    }
    
    .woah:hover{
        color: rgb(255, 157, 0);
        font-family:"lulo-one", sans-serif;
        font-size: 30px;
        font-weight: 700;
        font-style: normal;
        transform: rotate(360deg);
    }
    
    body{
        background-color: rgb(51, 36, 181); 
        color: aliceblue;
        font-family: "lulo-one", sans-serif;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        }
   }