*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html * {
    cursor: url("assets/cheese.png"), auto;
}
body{
    background: #0b021c;
    color: #FEFCFD;
    font-size: 15px;
    font-family: "gal-gothic-variable", sans-serif;
    font-variation-settings: "wght" 300;
    min-height: 100vh;
    transition: all 1s ease-in-out, font-variation-setting 1s;
}

.dark{
    color:#0b021c ;
    transition: all 1s ease-in-out, font-variation-setting 1s;
}

.light{
    transition: all 1s ease-in-out, font-variation-setting 1s;
    z-index: 2;
}
.basic{
    font-family: "evolver-variable", sans-serif;
    font-style: normal;
    font-variation-settings: 
    "slnt" 0, "wght" 300;
    font-size: 20px;
    transition: all 1s ease-in-out, font-variation-setting 1s;
    text-shadow: 0 0 10px #dcdcdc,
                 0 0 20px #4a4a4a,
                 0 0 40px #2c2c2c,
                 0 0 80px #1f1f1f,
                 0 0 120px #181818,
                 0 0 160px #030303;
}

.basic:hover{
    color: #ffc935f1;
    font-family: "evolver-variable", sans-serif;
    font-style: normal;
    font-variation-settings: 
    "slnt" -11, "wght" 500;
    font-size: 50px;
}


.header{
    z-index: 1;
    line-height: 1.5;
    color: #e6e2ff;
    font-family: "evolver-variable", sans-serif;
    font-style: normal;
    text-align: center;
}

h1 {
    color: #130f1c;
    font-size: 75px;
    margin: 20px;
    padding: 20px;
    font-variation-settings: 
    "slnt" 0, "wght" 300;
    transition: all 1s ease-in-out, font-variation-setting 1s;
}

h1:hover span{
    color: #ffffff;
    font-variation-settings: 
    "slnt" -11, "wght" 700;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
                 0 0 160px #fff;
   
}

h1 span{
    transition: 0.5s;
}

h1:hover span:nth-child(6){
    margin-right: 20px;
}
h1:hover span:nth-child(6):after{
    content: url("assets/cosmicsoda.png");
}

h2 {
    color: #10193d;
    font-size: 50px;
    margin: 20px;
    padding: 20px;
    font-variation-settings: 
    "slnt" 0, "wght" 300;
    transition: all 1s ease-in-out, font-variation-setting 1s;
    

}

h2:hover {
    color: #bfc6e0;
    font-size: 50px;
    letter-spacing: 5px;
    font-variation-settings: 
    "slnt" -11, "wght" 300;
    text-shadow: 0 0 10px #ffe68b,
                 0 0 20px #ffc0c0,
                 0 0 40px #ffc466,
                 0 0 80px #ffb663,
                 0 0 120px #ffcdcd,
                 0 0 160px #050b39;

}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    z-index: -100;
    position: absolute;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #BFCDE0;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #247BA0,
    0 0 50px #BFCDE0,
    0 0 100px #BFCDE0;
    animation: animate 15s linear infinite;
    animation-duration: calc(120s / var(--i));
}

.bubbles span:nth-child(even){
    background: #e3dce0;
    box-shadow: 0 0 0 10px #247BA0,
    0 0 50px #BFCDE0,
    0 0 100px #BFCDE0;
}

@keyframes animate{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(.5);
    }
}

::selection { 
    background: rgb(214, 222, 255);
    color: #000000;
 }

@media (max-width: 650px) {
    body {
      background-color: rgb(255, 254, 254);
      color:  rgb(33, 33, 33);
    }
    ::selection { 
        background: rgb(0, 0, 0);
        color: #232bff;
     }
    h1{
      font-size: 50px;
      margin-bottom: 0;
  }
  h2{
    font-size: 25px;
    margin-bottom: 0;
}
.light{
    font-size: 10px;
    color: #0d0f15;
}
  .bubbles span{
    position: relative;
    width: 20px;
    height: 20px;
    background: #151618;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #eaf9ff,
    0 0 50px #BFCDE0,
    0 0 100px #BFCDE0;
    animation: animate 15s linear infinite;
    animation-duration: calc(120s / var(--i));
}
.bubbles span:nth-child(even){
    background: #1a1819;
    box-shadow: 0 0 0 10px #ecf9ff,
    0 0 50px #BFCDE0,
    0 0 100px #BFCDE0;
}
h1:hover span{
    color: #121212;
    font-variation-settings: 
    "slnt" -11, "wght" 700;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #dcdcdc,
                 0 0 20px #4a4a4a,
                 0 0 40px #2c2c2c,
                 0 0 80px #1f1f1f,
                 0 0 120px #181818,
                 0 0 160px #030303;
   
}
.basic:hover{
    color: #89e7ff;
    font-family: "evolver-variable", sans-serif;
    font-style: normal;
    font-variation-settings: 
    "slnt" -11, "wght" 300;
    font-size: 50px;
}
h2:hover {
    color: #ffcb8c;
    font-size: 30px;
    letter-spacing: 5px;
    font-variation-settings: 
    "slnt" -11, "wght" 300;
    text-shadow: 0 0 10px #dcdcdc,
                 0 0 20px #4a4a4a,
                 0 0 40px #2c2c2c,
                 0 0 80px #1f1f1f,
                 0 0 120px #181818,
                 0 0 160px #030303;

}
.dark{
    color:#15121c ;
}
  }


@media (min-width: 1200px) {
    body {
        background: rgb(63,87,91);
        background: linear-gradient(0deg, rgba(63,87,91,1) 4%, rgba(1,15,27,1) 46%, rgba(10,15,41,1) 100%);
    }
    .light{
        font-size: 20px;
    }
    h2{
        font-size: 50px;
        color: #d69e5568;
        margin-bottom: 0;
    }
    h2:hover {
        color: #fffae6;
        font-size: 100px;
        letter-spacing: 5px;
        font-variation-settings: 
        "slnt" -11, "wght" 700;
    
    }
    .dark{
        color:#3164ff ;
    }
    .basic:hover{
        color: #f9fdff;
        font-family: "evolver-variable", sans-serif;
        font-style: normal;
        font-variation-settings: 
        "slnt" -11, "wght" 300;
        font-size: 50px;
    }
   
    ::selection { 
        background: rgb(186, 249, 255);
        color: #1d1e3c;
     }
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navhead{
    position: absolute;
    font-family: monospace;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: url('assets/cosmic.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 20px;
    color: rgb(247, 246, 255);
    text-decoration: none;
}

.navbar a {
 font-size: 18px;
 position: relative;
 color: rgb(247, 246, 255);
 text-decoration: none;
 margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(247, 246, 255);
    transition: .3s;
   }

   .navbar a:hover::before {
    width: 100%;
   }