*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html * {
    cursor: url("assets/cursor.png"), auto;
}

.navhead{
    position: absolute;
    font-family: monospace;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(189, 97, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.navbar a {
 font-size: 18px;
 position: relative;
 color: white;
 text-decoration: none;
 margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
   }

   .navbar a:hover::before {
    width: 100%;
   }


    body{
        background-color: rgb(17, 16, 16);
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: "gal-gothic-variable", sans-serif;
        font-variation-settings: "wght" 400;

    }
    
  h1 {
    font-weight:  normal;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button {
    position: absolute;
    left: 58%;
    transform: translate(-50%,-50%);
    top: 44%;
    padding: 20px 50px;
    border-radius: 30px;
    background-color:#ff3d3d;
    color:  #f0c299;
    font-size:  60px;
    font-size: 20px;
    transition:  all 100ms;
    z-index: 1;
  }
  
  .button:hover {
    cursor: pointer;
    opacity: .8;
    transition: 8ms ease-out;
  }

  .buttontwo {
    position: absolute;
    left: 59%;
    transform: translate(-50%,-50%);
    top: 70%;
    padding: 20px 50px;
    border-radius: 30px;
    background-color:#391fbb;
    color:  #f0c299;
    font-size:  60px;
    font-size: 20px;
    transition:  all 100ms;
    z-index: 1;
  }
  
  .buttontwo:hover {
    cursor: pointer;
    opacity: .8;
    transition: 8ms ease-out;
  }

  .header{
    font-family: "gal-gothic-variable",sans-serif;
    font-variation-settings: "wght" 300;
    position: absolute;
    top: 10%;
    /* Just make it alittle higher  */
    left: 50%;
    transform: translate(-50%,10%);
    text-align: center;
    z-index: 3;
    line-height: 1.5;
}
/* Wait which is which again?  */
h1{
    color: #dfc43e;
    font-size: 50px;
    font-variation-settings: "wght" 500;
    transition: all 1s ease-in-out, font-variation-setting 1s;
   }

h1:hover{
    color: #ff6f6f;
    font-size: 60px;
    font-variation-settings: "wght" 800;
    letter-spacing: 5px;
   }

   h2{
    color: #565656;
    font-size: 40px;
    font-variation-settings: "wght" 300;
    transition: all 1s ease-in-out, font-variation-setting 1s;
}

h2:hover{
    color: #ffffff;
    font-size: 50px;
    font-variation-settings: "wght" 500;
    letter-spacing: 5px;
}

::selection{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }

pre{
    display: absolute;
    z-index: 0;
    
}
/* UGHHHGHGHHGHHGGHGHGTKTKTKTKTKTKTKT */
/* UGHHHGHGHHGHHGGHGHGHGHGHGHGHGHGHGHGHGHHG TKTKT KKTKTKTTKKTKTKTKTKTKTKTTKKKTKTKTKTKTKTKTKTKTKTKT */
/* UGHHHGHGHHGHHGGTKTTKKKTKTKTKTKTKTKTKTKTKTKT */
/* UGHHHGHGHHGHHGGHGHGHGHGHGHGHGHGHGHGHGHHG TKTKT KKTKTKTTKKTKTKTKTKTKTKTTKKKTKTKTKTKTKTKTKTKTKTKT */

span{
    color: rgb(209, 169, 133);
    font-family: "gal-gothic-variable",sans-serif;
    font-variation-settings: "wght" 500;
    letter-spacing: 5px;
    font-size: 30px;
    /* UGHHHGHGHHGHHGGHGHGHGHGHGHTKTKTKTKTKTKTTKKKTKTKTKTKTKTKTKTKTKTKT */
/* UGHHHGHGHHGHHGGHGHGHGHGHKTKT   ITS SOOOOOO CONFUSING */ 
/* UGHHHGHGHHGHHGGHGHGHGHGKKTKTKTKTKTKTKTKTKTKTKT */
/* UGHHHGHGHHGHHGGHGHGHGHGHGHGHGHGHGHGHGHHG TKTKT KKTKTKTTKKTKTKTKTKTKTKTTKKKTKTKTKTKTKTKTKTKTKTKT */
    transition: all .8s ease-in-out, font-variation-setting 1s;
  }

span:hover{
    font-family: "gal-gothic-variable",sans-serif;
    font-variation-settings: "wght" 800;
    letter-spacing: 10px;
    font-size: 40px;
}

.container{
    display: inline-block;
}

.text{
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    font-family: monospace;
    animation: 
     typing 2s steps(25),
     cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50% {border-color: transparent}
}

@keyframes typing{
    from {width: 0}
}