* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  

}

body {
    background: #FFFEF5;
    
}

.container {
    position: relative;
    width: 150vh;
    height: 451px;
    top: 10vh;
    margin: auto;
    cursor: none;

}


p {
    text-align: left;
    line-height: 1.2;
    color: black;
    margin: auto;
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(40px, 4vh, 60px);   
}

#hexagon {
    position: relative;
    display: inline-block;
    width: clamp( 50px, 4vw, 80px);
    height: 4vw;
    top: 30%;
   
    
}

#hiddenlink {
    position: relative;
    display: inline-block;
    width: clamp( 50px, 4vw, 80px);
    height: 4vw;
    top: 30%;
    left: 89%;
    fill: #FFFEF5;
    
}

#hiddenlink:hover{
    fill: #000000;
}

::selection { 
    background: rgb(59, 59, 59);
    color: rgb(249, 249, 249);
}

.cursor{
    position: fixed;
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #FFFEF5;
    transition: transform .1s ease;
    pointer-events: none;
    mix-blend-mode: exclusion;
    z-index: 3;
  }

  span{
    font-family: adobe-garamond-pro, serif;
    font-weight: 700;
    font-style: normal;
  }
